[Work Synopsis]
{{ summary }}
{% if chapter_number is not none %}

[Current Chapter Outline]
{{ chapter_heading }}
Summary: {{ chapter_summary }}

[Current Chapter Body]
{{ chapter_content }}
{% endif %}
